*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0%;
    background-color: rgb(241, 241, 249);
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(20, 20, 92);
    display: flex;
}
.logo{
    width: 90px;
    height: 90px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    color: #FFF;
}
main h1{
    color: #000;
    font-weight: normal;
}
header h1{
    padding-top: 24px;
}
legend{
    font-size: 20px;
    margin-left: 24%;
    font-family: 'Poppins', sans-serif;
  

}
fieldset{
    background-color:rgb(241, 241, 249);
    border: 0px;
    margin-left: 20%;
    display: flex;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    
}
.input{
    width: 250px;
    height: 30px;
    border: solid 1px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #000;
    font-family: 'Poppins', sans-serif;
}
label{
    margin: 10px;
}
textarea{
    border: solid 1px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #000;
    resize: none;
}
#camper2{
    margin-top: 1px;
}
.responsible{
    
}